@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa/NexaBold.eot");
    src: url("../fonts/Nexa/NexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa/NexaBold.woff2") format("woff2"), url("../fonts/Nexa/NexaBold.woff") format("woff"), url("../fonts/Nexa/NexaBold.ttf") format("truetype"), url("../fonts/Nexa/NexaBold.svg#NexaBold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
  src: url("../fonts/Nexa/NexaLight.eot");
  src: url("../fonts/Nexa/NexaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa/NexaLight.woff2") format("woff2"), url("../fonts/Nexa/NexaLight.woff") format("woff"), url("../fonts/Nexa/NexaLight.ttf") format("truetype"), url("../fonts/Nexa/NexaLight.svg#NexaLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Hearth Stone';
  src: url("../fonts/HearthStone/HearthStone.eot");
  src: url("../fonts/HearthStone/HearthStone.eot?#iefix") format("embedded-opentype"), url("../fonts/HearthStone/HearthStone.woff2") format("woff2"), url("../fonts/HearthStone/HearthStone.woff") format("woff"), url("../fonts/HearthStone/HearthStone.ttf") format("truetype"), url("../fonts/HearthStone/HearthStone.svg#HearthStone") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "Nexa";
}

.auto-container {
    max-width: 1610px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-menu li {
    font-size: 20px;
}

.nav-menu li a {
    font-weight: 300;
    color: #202031;
    text-transform: uppercase;
    position: relative;
}

.nav-menu li a:after {
    position: absolute;
    content: "";
    left: 27%;
    bottom: -12px;
    width: 0;
    height: 4px;
    background-color: #fb8b8b;
    transition: all 0.3s ease-in-out;
}

.nav-menu li:hover a:after {
    width: 75%;
}

.nav-menu li.active a::after {
    width: 75%;
}

.header-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding-left: 33px;
}

.header__bar-logo {
    width: 10%;
    text-align: left;
}

.header__bar-nav {
    width: 48.861%;
    position: relative;
    margin-right: 52px;
}

.header-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.header__bar {
    padding-top: 44px;
    padding-bottom: 34px;
}

#header {
    background-image: url(../images/header-color.png);
    background-size: cover;
    background-color: #fff1f1;
    position: relative;
}

.header__banner-slick-1 .slick-photo .number {
    text-align: center;
}

.header__banner-slick-1 .slick-photo .number span {
    color: #202031;
    font-weight: bold;
    font-size: 40px;
}

.header__banner {
    position: relative;
}

.header__banner-slick-2-number {
    text-align: center;
}

.header__banner-slick-2-number span {
    font-weight: bold;
    font-size: 60px;
    background: #b88a2f;
    background: linear-gradient(90deg, #b88a2f 40%, #f9ce62 50%, #b88a2f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__banner-text-vertical {
    position: relative;
}

.header__banner-text-vertical h3 {
    font-weight: bold;
    font-size: 31px;
    text-transform: uppercase;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    white-space: nowrap;
    top: 34%;
    left: -20%;
    position: absolute;
    letter-spacing: 1.5px;
}

.header__banner-slick-2 .slick-block {
    margin-right: -17px;
    height: 100%;
}

.slick-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-content-1 p {
    font-size: 24px;
    color: #333133;
    margin-bottom: 0;
}

.header-content-1 h6 {
    font-size: 26.68px;
    color: #333133;
    text-transform: uppercase;
}

.header-content-2 h1 {
    font-weight: bold;
    font-size: 130px;
    margin-bottom: 0;
    position: relative;
    color: #bd9033;
    text-shadow: 4px -3px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.header-content-2 h1:nth-child(2) {
    padding-left: 275px;
}

.header-content-2 h1:nth-child(2):after {
    position: absolute;
    content: "";
    width: 220px;
    height: 4px;
    background-color: #bd9033;
    bottom: 45px;
    left: 0;
}

.header__banner-content {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 40%;
    top: 12%;
    z-index: 2;
}

.header__banner-social li {
    text-align: center;
    margin-top: 24%;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li a {
    color: #acacac;
    font-size: 22px;
}

.header__banner-slick-1-number {
    position: absolute;
    bottom: 10%;
    right: -24%;
    z-index: 2;
}

.header__banner-slick-1-number .slick-1-number {
    width: 184px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.header__banner-slick-1-number .slick-1-number::after {
    position: absolute;
    content: "";
    width: 62px;
    height: 4px;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-color: #232323;
}

.header__banner-slick-1-number .slick-1-number p {
    color: #202031;
    font-size: 20px;
}

.home-photo {
    position: relative;
}

.home-photo img {
    position: relative;
    z-index: 1;
}

.home-photo::after {
    position: absolute;
    content: '';
    background-image: url(../images/Rectangle-33-copy3.png);
    width: 232px;
    height: 378px;
    bottom: -46%;
    right: -30%;
    background-repeat: no-repeat;
}

.welcome {
    background-color: #fff1f1;
    padding-top: 125px;
    padding-bottom: 105px;
    background-image: url(../images/2.png);
    background-position: bottom center;
    background-size: cover;
    position: relative;
}

.welcome .title h3 {
    background: #b88a2f;
    background: linear-gradient(90deg, #b88a2f 40%, #f9ce62 50%, #b88a2f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome__in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcome__in-left {
    width: 40%;
    margin-left: 18.5%;
    padding-right: 2%;
    position: relative;
    z-index: 2;
}

.welcome__in-right {
    width: 20%;
    margin-right: 20%;
    position: relative;
    z-index: 2;
}

.welcome__quote {
    width: 100%;
    margin-top: 35px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.welcome__quote h6 {
    font-size: 31px;
    color: #fb8b8b;
    font-family: "Hearth Stone";
}

.title h3 {
    font-size: 70px;
    font-weight: bold;
}

.title h6 {
    text-transform: uppercase;
    font-size: 26px;
    color: #202031;
}

.welcome__in-left h6 {
    padding-left: 138px;
    margin-bottom: 35px;
    position: relative;
}

.welcome__in-left h6::after {
    position: absolute;
    content: "";
    width: 95px;
    height: 2px;
    top: 15px;
    left: 25px;
    background-color: #202031;
}

.content p {
    font-size: 18px;
    color: #232323;
}

.first-header h3 {
    font-weight: bold;
    font-size: 70px;
    display: inline-block;
    background: #b88a2f;
    background: linear-gradient(90deg, #b88a2f 40%, #f9ce62 50%, #b88a2f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first-header h6 {
    color: #232323;
    text-transform: uppercase;
}

.services {
    padding-top: 100px;
    position: relative;
}

.services .header-line .line::after {
    border-right: 1px solid #ebebeb;
}

.services .header-line {
    z-index: -1;
}

.services .first-header {
    text-align: center;
    margin-bottom: 70px;
}

.services .first-header h3 {
    font-size: 70px;
    display: block;
}

.services .first-header h6 {
    font-size: 26px;
    display: inline-block;
}

.available h5 {
    font-size: 40px;
    color: #232323;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
}

.available h6 {
    font-size: 48px;
    color: #fb8b8b;
    font-family: "Hearth Stone";
    position: absolute;
    top: 53%;
    width: 100%;
}

.services__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__block-left {
    width: 43.9%;
}

.services__block-right {
    width: 56.1%;
}

.right-ser--title {
    margin-bottom: 45px;
}

.right-ser--title h3 {
    font-size: 50px;
    color: #232323;
    font-weight: bold;
    text-transform: uppercase;
}

.right-ser--title h6 {
    font-size: 30px;
    font-weight: bold;
    color: #232323;
    text-transform: uppercase;
    padding-left: 135px;
    position: relative;
}

.right-ser--title h6:after {
    position: absolute;
    content: '';
    width: 120px;
    height: 22px;
    background-color: #fb8b8b;
    left: 0;
    top: 7px;
}

.right-ser--title {
    position: relative;
}

.right-ser--title::before {
    position: absolute;
    content: '';
    width: 364px;
    height: 283px;
    background-image: url(../images/ser-image-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -99px;
    left: 45%;
    z-index: 9;
}

.right-ser--ser {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #fff1f1;
    position: relative;
}

.right-ser--ser .flex-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-ser--title,
.wrap-ser {
    margin-left: 105px;
}

.wrap-ser {
    max-width: 637px;
    padding-right: 10px;
    margin-right: auto;
    overflow-y: scroll;
    height: 480px;
}

.wrap-ser h6 {
    color: #333133;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.wrap-ser p {
    font-size: 18px;
    color: #333133;
}

.prev-next {
    width: 286px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.prev-next .ser-button {
    width: 143px;
    height: 143px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.services__block-left-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
}

.services__block-left-button .available {
    width: calc(100% - 286px);
    text-align: center;
    position: relative;
}

#ser-prev {
    background-color: #ebebeb;
    background-image: url(../images/ser-prev.png);
}

#ser-next {
    background-color: #fb8b8b;
    background-image: url(../images/ser-next.png);
}

.services__block-left-photo {
    height: 654px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__wrap {
    max-width: 1300px;
    margin: 0 auto;
}

.gallery__wrap .gallery__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -29px;
    margin-right: -29px;
}

.gallery__wrap .gallery__block-collum {
    width: 33.333%;
    padding: 0 29px;
}

.gallery {
    margin-top: 140px;
    margin-bottom: 140px;
}

.gallery .first-header {
    margin-bottom: 42px;
}

.gallery .first-header h3 {
    font-size: 70px;
}

.gallery .first-header h6 {
    font-size: 26px;
    margin-bottom: 0;
    margin-top: 17px;
    margin-right: -135px;
    padding-left: 135px;
    position: relative;
    display: inline-block;
}

.gallery .first-header h6::after {
    position: absolute;
    content: '';
    width: 90px;
    height: 2px;
    background-color: #000000;
    top: 13px;
    left: 20px;
}

.gallery .text-inphoto {
    padding-top: 15%;
}

.gallery .text-inphoto p {
    font-family: 'Hearth Stone';
    font-size: 48px;
    color: #fb8b8b;
}

.gallery__block-collum .gallery__block-inner__photo:not(:last-child) {
    margin-bottom: 25px;
}

.footer__contact .contact-phone a {
    font-size: 22px;
    color: #404040;
}

.footer__contact-form {
    background-image: url(../images/Contact-Background-Color.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer__contact-form .contact-title h1 {
    font-family: 'Hearth Stone';
    color: #fb8b8b;
    font-size: 78px;
}

.footer__contact-contact-us {
    width: 44.792%;
}

.footer__contact-contact-us .contact-us {
    width: 515px;
    margin-left: auto;
}

.footer__contact .first-header {
    margin-top: -15px;
}

.footer__contact-form {
    width: 55.208%;
    background-color: #fff1f1;
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 75px;
}

.footer__contact-form .contact-title {
    margin-bottom: 75px;
}

.footer__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form .input {
    height: 52px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #fb8b8b;
    outline: none;
    padding: 15px;
    color: #6f6f6f;
    font-size: 18px;
}

.contact-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.control-input {
    padding: 0 15px;
}

.ouner-input {
    width: 50%;
    margin-bottom: 18px;
}

.ouner-select {
    width: 100%;
    margin-bottom: 18px;
}

.ouner-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/select-button.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 97% 50%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url(../images/calendar-icon.png) no-repeat;
    width: 29px;
    height: 29px;
    border-width: thin;
    outline: none;
}

.footer__contact .contact-form {
    max-width: 700px;
    margin-right: auto;
}

.contact-button {
    margin-top: 20px;
}

.control-button {
    text-align: center;
}

.control-button .btn-submit {
    font-size: 18px;
    color: #ffffff;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fb8b8b;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.footer__contact-contact-us .icon-contact {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
}

.footer__contact-contact-us .icon-contact p {
    margin-bottom: 0;
}

.footer__contact-contact-us .icon-contact::before {
    position: absolute;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
}

.footer__contact-contact-us .contact-phone::before {
    background-image: url(../images/contact-icon-phone.jpg);
    width: 15px;
    height: 15px;
}

.footer__contact-contact-us .contact-address::before {
    background-image: url(../images/contact-icon-address.jpg);
    width: 11px;
    height: 16px;
}

.footer__contact-contact-us .contact-time::before {
    background-image: url(../images/contact-icon-hour.jpg);
    width: 15px;
    height: 15px;
}

.contact-us .content {
    margin-top: 15px;
}

.footer__copyright {
    position: relative;
    margin-top: -375px;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__copyright-image {
    width: 61.75%;
    height: 514px;
    background-image: url(../images/footer-Image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer__copyright-copyright {
    width: 38.25%;
    position: relative;
}

.footer__copyright-copyright .content {
    position: absolute;
    width: 100%;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
}

.wrap-ser::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.wrap-ser::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.wrap-ser::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

.header-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    pointer-events: none;
}

.header-line .line {
    width: 10%;
    height: 100%;
    position: relative;
}

.header-line .line::after {
    position: absolute;
    width: 1px;
    right: 0;
    top: 0;
    height: 100%;
    content: '';
    border-right: 1px solid #ffffff;
}

#header .width-20 {
    width: 20%;
    position: relative;
}

#header .width-10 {
    width: 10%;
    position: relative;
}

#header .width-30 {
    width: 30%;
    position: relative;
}

#header .header__banner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.header__banner-1-photo .photo-1-number {
    width: calc(100% - 15px);
    text-align: center;
}

.header__banner-1-photo .photo-1-number span {
    color: #202031;
    font-size: 40px;
    font-weight: bold;
}

.header__banner-2 .bottom-button {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.header__banner-2 .header-button a {
    width: 100%;
    position: relative;
}

.header__banner-2 .header-button a::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-color: #fb8b8b;
    background-image: url(../images/header-next-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.header__banner-2 .header-button a:hover::after {
    background-color: #202031;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.header__banner-4 .photo-2-number h3 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
    background: #b88a2f;
    background: linear-gradient(90deg, #b88a2f 40%, #f9ce62 50%, #b88a2f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-vertical {
    position: relative;
}

.text-vertical--center {
    position: relative;
}

.text-vertical h3 {
    font-weight: bold;
    font-size: 31px;
    text-transform: uppercase;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    white-space: nowrap;
    position: relative;
    letter-spacing: 1.5px;
    margin-bottom: 0;
    top: 70px;
}

.header__banner-4 .photo-2-number {
    height: 28%;
    text-align: center;
}

.header__banner-4 .text-vertical {
    height: 46%;
}

.header__banner-4 .social-media {
    height: 26%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.header__banner-4 .social-media li {
    text-align: center;
}

.header__banner-1 {
    padding-top: 8%;
    z-index: 2;
    position: relative;
}

.services .first-header h3 {
    padding-right: 15%;
}

.services .first-header h6 {
    position: relative;
}

.services .first-header h6::after {
    position: absolute;
    content: '';
    width: 90px;
    height: 2px;
    background-color: #000000;
    top: 13px;
    left: -105px;
}
